@mixin button-orange {
    background-color: #ffa837;
    border: none;
    padding: 12px 20px;
    border-radius: 50px;
    color: var(--white);
    font-weight: bold;
    font-size: 10px;
    cursor: pointer;
};

@mixin button-blue {
    background-color: #556eed;
    border: none;
    padding: 12px 20px;
    border-radius: 50px;
    color: var(--white);
    font-weight: bold;
    font-size: 10px;
    cursor: pointer;
};

@mixin container-medium {
    max-width: var(--container-medium);
    margin: auto;
}
