.container-xs {
    margin: auto;
    width: 100%;
    max-width: var(--container-x-small);
};

.container-s {
    margin: auto;
    width: 100%;
    max-width: var(--container-small);
};

.container-m {
    margin: auto;
    width: 100%;
    max-width: var(--container-medium);
};