:root {

    // COLORS
    
    --yellow : yellow;

    // --- background: var(--yellow); (es. per importare la var colore) ---

    // CONTAINERS

    --container-x-small: 600px;
    --container-small: 800px;
    --container-medium: 1200px;
    --container-large: 1600px;
    --container-x-large:1800px;

}