:root {

    // COLORS
    
    --white : #f8f8f8;
    --grey: #5e5f64;
    --orange: #ffa837;

    // --- background: var(--yellow); (es. per importare la var colore) ---

    // CONTAINERS

    --container-x-small: 580px;
    --container-medium: 1200px;


    --container-small: 800px;
    --container-large: 1600px;
    --container-x-large: 1800px;

}